<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://192.168.1.102:3306/pms?useUnicode=true&amp;characterEncoding=UTF-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
		<property name="maxActive" value="100"></property>
		<property name="maxIdle" value="30"></property>
		<property name="maxWait" value="500"></property>
		<property name="defaultAutoCommit" value="true"></property>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/pms/entity/User.hbm.xml</value>
				<value>com/pms/entity/FeeItemEntity.hbm.xml</value>
				<value>com/pms/entity/TenantEntity.hbm.xml</value>
				<value>com/pms/entity/ApartmentEntity.hbm.xml</value>
				<value>com/pms/entity/ContractEntity.hbm.xml</value>
				<value>com/pms/entity/FeeHistoryEntity.hbm.xml</value>
				<value>com/pms/entity/DomainEntity.hbm.xml</value>
				<value>com/pms/entity/MessageEntity.hbm.xml</value>
				<value>com/pms/entity/MessageSwitch.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 用户 -->
	<bean id="userDao" class="com.pms.dao.impl.UserDaoImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="userService" class="com.pms.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="sigin" class="com.pms.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<!-- 区域 -->
	<bean id="domainDao" class="com.pms.dao.impl.DomainDaoImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="domainService" class="com.pms.service.impl.DomainServiceImpl">
		<property name="domainDao" ref="domainDao"></property>
	</bean>

	<bean id="domianUser" class="com.pms.action.UserAction" scope="prototype">
		<property name="domainService" ref="domainService"></property>
	</bean>
	<bean id="apartment_doumain" class="com.pms.action.ApartmentAction" scope="prototype">
		<property name="domainService" ref="domainService"></property>
	</bean>
	<!-- 租户 -->
	<bean id="tenantDao" class="com.pms.dao.impl.TenantDaoImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="tenantService" class="com.pms.service.impl.TenantServiceImpl">
		<property name="tenantDao" ref="tenantDao"></property>
	</bean>

	<bean id="tenantaction" class="com.pms.action.TenantAction" scope="prototype">
		<property name="tenantService" ref="tenantService"></property>
	</bean>
		<bean id="apartment_gettenant" class="com.pms.action.ApartmentAction" scope="prototype">
		<property name="tenantService" ref="tenantService"></property>
	</bean>
	<!-- 收费项目 -->
	<bean id="feeitemDao" class="com.pms.dao.impl.FeeItemDaoImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="feeitemService" class="com.pms.service.impl.FeeItemServiceImpl">
		<property name="feeitemDao" ref="feeitemDao"></property>
	</bean>

	<bean id="fee" class="com.pms.action.FeeItemAction" scope="prototype">
		<property name="feeitemService" ref="feeitemService"></property>
	</bean>
	<bean id="apartmentfeeitem" class="com.pms.action.ApartmentAction" scope="prototype">
		<property name="feeitemService" ref="feeitemService"></property>
	</bean>
	<!-- 房间 -->
	<bean id="apartmentDao" class="com.pms.dao.impl.ApartmentDaoImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="apartmentService" class="com.pms.service.impl.ApartmentServiceImpl">
		<property name="apartmentDao" ref="apartmentDao"></property>
	</bean>

	<bean id="apartmentstring" class="com.pms.action.ApartmentAction" scope="prototype">
		<property name="apartmentService" ref="apartmentService"></property>
	</bean>
		<bean id="sigin2" class="com.pms.action.UserAction" scope="prototype">
		<property name="apartmentService" ref="apartmentService"></property>
	</bean>
	<bean id="feehistoryapartment" class="com.pms.action.FeeHistoryAction" scope="prototype">
		<property name="apartmentService" ref="apartmentService"></property>
	</bean>
	<!-- 合同 -->
	<bean id="contractDao" class="com.pms.dao.impl.ContractDaoImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="contractService" class="com.pms.service.impl.ContractServiceImpl">
		<property name="contractDao" ref="contractDao"></property>
	</bean>

	<bean id="contractstring" class="com.pms.action.ContractAction" scope="prototype">
		<property name="contractService" ref="contractService"></property>
	</bean>
	<bean id="apartmentcontract" class="com.pms.action.ApartmentAction" scope="prototype">
		<property name="contractService" ref="contractService"></property>
	</bean>
	<!-- 收费历史 -->
	<bean id="feeHistoryDao" class="com.pms.dao.impl.FeeHistoryDaoImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="feeHistoryService" class="com.pms.service.impl.FeeHistoryServiceImpl">
		<property name="feeHistoryDao" ref="feeHistoryDao"></property>
	</bean>

	<bean id="feehistorystring" class="com.pms.action.FeeHistoryAction" scope="prototype">
		<property name="feeHistoryService" ref="feeHistoryService"></property>
	</bean>
	<bean id="apartmentfeehistory2" class="com.pms.action.ApartmentAction" scope="prototype">
		<property name="feeHistoryService" ref="feeHistoryService"></property>
	</bean>
	<!-- 发送短消息 -->
	<bean id="messageDao" class="com.pms.dao.impl.MessageDaoImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="messageService" class="com.pms.service.impl.MessageServiceImpl">
		<property name="messageDao" ref="messageDao"></property>
	</bean>

	<bean id="messageaction" class="com.pms.action.MessageAction" scope="prototype">
		<property name="messageService" ref="messageService"></property>
	</bean>
	<bean id="apartmentmessage" class="com.pms.action.ApartmentAction" scope="prototype">
		<property name="messageService" ref="messageService"></property>
	</bean>
	<!-- 短消息开关 -->
	<bean id="messageSwitchDao" class="com.pms.dao.impl.MessageSwitchDaoImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="messageSwitchService" class="com.pms.service.impl.MessageSwitchServiceImpl">
		<property name="messageSwitchDao" ref="messageSwitchDao"></property>
	</bean>

	<bean id="messageSwitchaction" class="com.pms.action.MessageAction" scope="prototype">
		<property name="messageSwitchService" ref="messageSwitchService"></property>
	</bean>
		<bean id="apartmentmessageswitch" class="com.pms.action.ApartmentAction" scope="prototype">
		<property name="messageSwitchService" ref="messageSwitchService"></property>
	</bean>
	
</beans>